body
{
    margin: 0px;
    padding: 0px;
}

.intro-area
{
    height: auto;
    background-color: #ffbf69;
}

.header
{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}

.header__menu
{
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 0px;
    list-style: none;
}

.header__link
{
    color: black;
    text-decoration: none;
}



.hero__content
{
    width: 800px;
    margin: 0px 50px;
}

.hero__title
{
    margin: 0;
    font-size: 9rem;
    color: white;
}

.hero__text
{
    margin: 0;
    font-size: 1.5rem;
    color: white;
}


.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}




