html
{
    scroll-behavior: smooth;
}

body
{
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    padding: 0px;
}

.intro-area
{
    height: auto;
    background-image: url(../../assets/images/background.png);
    background-position: 70% 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ffbf69;

    transition: all 0.2s ease-in-out;
}

.background
{
    background-image: url(../../assets/images/background2.png);
    background-color: #fc2e20;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.header__menu
{
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 0px;
    list-style: none;
}

.header__name
{
    font-size: 1.1rem;
    font-weight: 500;

    cursor: pointer;

    animation: shake-horizontal 3s infinite;
}

.header__link
{
    font-size: 1.1rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.burger
{
    display: none;
}
.hero
{
    padding: 50px; 

    
}

.hero__content
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
}

.hero__title
{
    margin: 0;
    font-size: 9rem;
    font-weight: 900;
    color: white;
}

.hero__text
{
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.hero__button
{
    font-size: 1.2rem;
    background-color: #caf2f1;
    border: none;
    padding: 10px 30px;
    margin-top: 30px;
    cursor: pointer; 

    transition: all 0.2s ease-in-out;
}

.hero__button:hover
{
    background-color: #7ae0de;
    border-radius: 20px;
}


.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;

}

.about__text
{
    margin: 0px;
    max-width: 800px;
    text-align: center;
}

.products
{
    background-color: #caf2f1;
    padding: 50px 0px;

    
}

.products__title
{
    text-align: center;
}

.products__list
{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}

.products__container
{
    width: 200px;
}

.products_item
{
    display: grid;
    height: 100%;
    grid-template-rows: 1fr auto auto;
    justify-items: center;
    align-items: center;
}

.products_item img
{
    width: 100%;
}

.products__button
{
    background-color: #febf68;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.products__button:hover
{
    background-color: #ffb145;
    border-radius: 20px;
}


.rules
{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: end;
    padding: 0px 50px;
    height: 600px;
    gap: 20px;

    background-image: url(../..//assets/images/bg-grid.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: all 0.2s ease-in-out;
}

.background2
{
    background-image: url(../../assets/images/bg-grid2.png);
}


.rules__info
{
    max-width: 700px;
}

.rules__image
{
    width: 400px;
}

.rules__image img
{
    width: 100%;
}

.footer
{
    background-color: #323332;
}

.footer__title
{
    color: white;
    width: auto;
    cursor: pointer;
}

.footer__list
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    list-style: none;
}
.footer__item
{
    width: auto;
}

.footer__link
{
    color: white;
    text-decoration: none;
}

.footer__title, .footer__link
{
    font-size: 1.1rem;
}


@keyframes zoom-in {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes shake-horizontal {
    0% {
        transform: translateX(0);
    }
    3.3%, 10%, 16.6% {
        transform: translateX(-10px);
    }
    6.6%, 13.3% {
        transform: translateX(10px);
    }
    20% {
        transform: translateX(8px);
    }
    23.3% {
        transform: translateX(-8px);
    }
    26.6%, 100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 700px) {
    .rules
    {
        grid-template-rows: auto 1fr;
        grid-template-columns: auto;
        align-items: center;
        justify-items: center;
        height: auto;
    }

    .rules__image
    {
        max-width: 400px;
        width: auto;
    }
}

@media screen and (max-width: 500px)
{
    .intro-area
    {
        background-image: none;
    }

    .products, .products__list
    {
        padding: 20px 0px;
    }

    .burger
    {
        display: block;
        cursor: pointer;
    }

    .burger--hidden
    {
        display: none;
    }

    .header__menu
    {
        display: none;
    }

    .header__menu--responsive
    {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 1.5rem;
        padding: 10px;

        position: absolute;
        top: 0;
        right: 0;
        list-style: none;
        border: 2px solid #ffb145;
        border-radius: 5px;
        background-color: #ffb145;
    }

    .header__menu--background--responsive
    {
        background-color: #ff685e;
        border: #ff685e;
    }

    .hero__title
    {
        font-size: 5rem;
    }
    .about
    {
        padding: 0px 20px;
    }

    .footer__list
    {
        padding: 0 10px;
    }
    .footer__link
    {
        font-size: 0.8rem;
    }

}
